html {
  --innerH: 100vh;
  --innerW: 100vw;
  // background: green;
}

body {
  margin: 0;
  --sp-w: 0;
}

// disbale scrolling when side-panel opened
body:has(>nav+#hmbgr-input:checked) {
  overflow: hidden;
}

* {
  font-family: sans;
}

body[spa=loading] nav:before {
  opacity: 1;
  animation: scalex 10s linear 0s 1 normal;
}

body[spa=loaded] nav:before {
  opacity: 0;
  animation: none;//scalex 100ms linear 0s 1 normal;
}

nav {

  &:before {
    transform-origin: 0% 50%;
    transition: 200ms;
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    left: 0;
    top: 0;
    width: var(--innerW);
    background: royalblue;
  }

  position: fixed;
  top: 0;
  left:0;
  width: var(--innerW);
  box-sizing: border-box;
  height: 50px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  #mainHeading {
    font-size: 1.2rem;
    line-height: 50px;
    margin: 0 10px;
  }

  #hmbgr:hover {
    background-color: var(--hmbgr-hvr, #ddd);
  }

  #hmbgr {
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 5px;
    padding: 6px 0 0 0;
    box-sizing: border-box;
    position: relative;
  }

  #hmbgr hr {
    width: 26px;
    border: 0;
    /*  border-top: 2px solid;*/
    height: 2px;
    background-color: var(--hmbgr-clr, #333);
    border-radius: 15px;
    display: block;
    transition: 200ms;
    margin: 6px 7px 0 7px;
  }

  #hmbgr hr:nth-child(1) {
    width: 18px;
  }
}

.hidden {
  position: fixed;
  transform: scale(0);
  right: 0;
}

#hmbgr-input:checked+#side-panel {
  --sp-w: min(50%, 200px);
}

/*  SIDE PANEL CSS  */
#side-panel {

  background: #fff;
  padding: 5px 0;
  margin: 0 !important;
  width: var(--sp-w);
  height: calc(var(--innerH) - 50px);
  transition: 200ms;
  display: block;
  opacity: 99%;
  transform-origin: 0 0;
  overflow: hidden;
  position: fixed !important;
  top: 49px;
  z-index: 998 !important;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  /* transform: translateX(calc(-2 * var(--w))); */
  box-sizing: border-box;

  * {
    z-index: 999 !important;
    -webkit-tap-highlight-color: transparent;
  }

  .side-panel-item {
    height: 40px;

    a[active='true']:after {
      background-color: #5c6bc0 !important;
    }

    a[active='true'] {
      box-shadow: inset 0 0 5px #aaa;
    }

    a:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      width: 5px;
    }

    img {
      height: 25px;
      aspect-ratio: 1/1;
      /* background: red; */
      filter: invert(var(--side-panel-icon-invert)) !important;
      margin: 0;
      padding: 0;
    }


    a {
      text-decoration: none;
      color: #333;
      position: relative;
      // background: red;
    }

    margin: 0 5px 0 0;

    a {
      text-decoration: 0;
      display: flex;
      box-sizing: border-box;
      height: 40px;
      padding: 7.5px 10px;
      border-radius: 0 5px 5px 0;
      white-space: nowrap;
      
    &:hover {
    	box-shadow: inset 0 0 3px #aaa;
   }
    }

    span {
      display: block;
      line-height: 25px;
      height: 25px;
      margin-left: 20px;
    }
  }
}

nav:has(+ #hmbgr-input:checked) #hmbgr hr:nth-child(1) {
  width: 26px !important;
}

#hmbgr-input:checked+div+#sp-bg {
  transform: scale(1);
}

label#sp-bg {
  height: calc(var(--innerH) - 50px);
  width: var(--innerW, 100%);
  position: fixed;
  top: 50px;
  display: block;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: scale(0);
}

@media only screen and (min-width: 600px) {
  body {
    --sp-w: 45px;
  }

  main {
    margin-left: var(--sp-w);
  }
}

main {
  margin-top: 50px;
}

@keyframes scalex {
  from {
    transform: scaleX(0)
  }

  to {
    transform: scaleX(1);
  }
}