<div id="index-box">
<%- include(viewDir + "/ui/index-item.ejs" , { href: "/crypto", icon:"key", name:"Crypto API"}) %>
<%- include(viewDir + "/ui/index-item.ejs" , { href: "/about", icon:"about", name:"About"}) %>
</div>