<%# required("/sass/test/styles.css") -%>
<%# required("/js/test.js") -%>

<div id="test-container">
    TESTING ...
</div>
<a class="test-card" id="1" href="#5">1</a>
<div class="test-card" id="2">2</div>
<div class="test-card" id="3">3</div>
<div class="test-card" id="4">4</div>
<a class="test-card" id="5" href="#1">5</a>