<div class="card">
  <a href="<%= typeof href === "undefined" ? "#" : href %>" class="link" spa-link >
    <div class="card-content">
      <h3><%= typeof title === "undefined" ? "Link Title" : title %></h3>
      <p><%= typeof desc === "undefined" ? "Description of the link goes here." : desc %></p>
    </div>
  </a>
</div>