html {
	--innerH: 100vh;
	--innerW: 100vw;
	// background: green;
}

body {
	margin: 0;
	//--sp-w: 50%;
	//--sp-pos-x: -160%;
}

// disbale scrolling when side-panel opened
body:has(> nav + #hmbgr-input:checked) {
	overflow: hidden;
}

* {
	font-family: sans;
}

body[spa="loading"] nav:before {
	opacity: 1;
	animation: scalex 2s linear 0s 1 normal;
}

body[spa="loaded"] nav:before {
	opacity: 0;
	animation: none; //scalex 100ms linear 0s 1 normal;
}

nav {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: var(--innerW);
	box-sizing: border-box;
	height: 50px;
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	z-index: 99999;
	// navigation loader bar
	&:before {
		content: "";
		display: block;
		height: 4px;
		width: var(--innerW);
		position: fixed;
		left: 0;
		top: 0;
		background: royalblue;
		background: rgb(127,100,227);
background: linear-gradient(-90deg, rgba(127,100,227,1) 7%, rgba(203,44,44,0) 82%, rgba(255,38,38,0) 100%);
		transform-origin: 0% 50%;
		border-radius: 50px;
		transition: 500ms;
	}

	#mainHeading {
		font-size: 1.2rem;
		line-height: 50px;
		margin: 0 10px;
	}

	#hmbgr:hover {
		background-color: var(--hmbgr-hvr, #ddd);
	}

	#hmbgr {
		height: 40px;
		width: 40px;
		margin: 5px;
		border-radius: 5px;
		padding: 6px 0 0 0;
		box-sizing: border-box;
		position: relative;

		hr {
			width: 26px;
			border: 0;
			/*  border-top: 2px solid;*/
			height: 2px;
			background: #444;
			border-radius: 15px;
			display: block;
			transition: 200ms;
			margin: 6px 7px 0 7px;
			&:nth-child(1) {
				width: 18px;
			}
		}
	}
}

.hidden {
	opacity: 0;
	position: fixed;
	left: -100%;
}

/*  SIDE PANEL CSS  */
#side-panel {
	background: #fff;
	padding: 5px 0;
	margin: 0 !important;
	width: var(--sp-w);
	height: calc(var(--innerH, 100vh) - 50px);
	transition: 200ms;
	display: flex;
	flex-direction: column;
	opacity: 99%;
	transform-origin: 0 0;
	overflow: hidden;
	position: fixed !important;
	top: 49px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	left: -1px;
	box-sizing: border-box;
	z-index: 999999;
	transform: translateX(var(--sp-pos-x));
	
	&>div{
		//background: rgba(0,0,0,0.3);
	}

	#sp-footer {
		margin-top: auto;
	}

	* {
		z-index: 999 !important;
		-webkit-tap-highlight-color: transparent;
	}

	.side-panel-item {
		//  	margin: 1px 0;
		height: 40px;
		margin: 5px 0 ;//10px 0;
		padding-right: 5px;
		position: relative;
		//background: red;
		
	* {
		box-sizing: border-box;
	}
	
		&::after {
			content: "";
			display: none;// block;
			position: absolute;
			left: 5%;
			bottom: -5px;
			width: 90%;
			height: 1px;
			background: #ddd;// rgba(0,0,0,0.2);
		}
		
		&:last-child:after,
		//&[active="true"]:after,
		//&:hover:after 
		{
			display: none;
		}

		a {
			text-decoration: none;
			color: #333;
			position: relative;
			text-decoration: 0;
			
			display: flex;
			align-items: center;
			
			box-sizing: border-box;
			height: 40px;
			padding: 0 5px;
			border-radius: 0 5px 5px 0;
			white-space: nowrap;
			transition: 200ms;
			
			border: 1px solid #eee;
			
			//background: green;
			
			img {
				height: 25px;
				//width: 25px;
				aspect-ratio: 1/1;
				//background: red; 
				//filter: invert(var(--side-panel-icon-invert)) !important;
				margin: 0;
				padding: 0;
			}
		
			&:hover,
			&:focus {
				border-color: #ccc;
				padding-left: 8px;
			}

			&[active="true"] {
				padding-left: 8px;
				&:after {
					background: #5c6bc0 !important;
				}
				//box-shadow: inset 0 0 0 1px #5c6bc0;
				border-color: #5c6bc0;
				//background: greenyellow;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				height: 39px;
				width: 4px;
				transition: 200ms;
			}
		}

		span {
			display: block;
			line-height: 25px;
			height: 25px;
			margin-left: 20px;
		}
	}
}

nav:has(+ #hmbgr-input:checked) #hmbgr hr:nth-child(1) {
	width: 25.5px !important;
}

#hmbgr-input:checked + div + #sp-bg {
	//transform: scale(1);

	display: block;
}

label#sp-bg {
	height: calc(var(--innerH) - 50px);
	width: var(--innerW, 100%);
	position: fixed;
	top: 50px;
	display: none;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 1;
	//transform: scale(0);
	backdrop-filter: blur(2px);
	background: rgba(0, 0, 0, 0.1);
	z-index: 99999 !important;
}

@media only screen and (min-width: 600px) {
	
	// side panel state for desktop
	body {
		// inital condition
		--sp-w: 45px;
		--sp-pos-x: 0%;
	}

	main {
		margin-left: var(--sp-w);
	}
	
	#hmbgr-input:checked + #side-panel {
		--sp-w: 200px;
	}
}

@media only screen and (max-width: 600px) {
	
	body {
		--sp-w: 50%;
		--sp-pos-x: -160%;
	}
	
	#hmbgr-input:checked + #side-panel {
		--sp-pos-x: 0%;
	}
}

main {
	margin-top: 50px;
	min-height: 300vh;
	//background: red;
}

@keyframes scalex {
	from {
		transform: scaleX(0);
	}

	to {
		transform: scaleX(1);
	}
}
