<div id="index-box">
<!-- <%- include(viewDir + "/ui/index-item.ejs" , { href: "/crypto", icon:"key", name:"Crypto API"}) %>
<%- include(viewDir + "/ui/index-item.ejs" , { href: "/about", icon:"about", name:"About"}) %>
-->
<%- include(viewDir+"/ui/card1.ejs", {href: "crypto", title : "CRYPTO API", desc : "Encode and Decode text / file "}) %>
</div>